a:link { 
    text-decoration: none;
    color: black }

a:visited { 
    text-decoration: none;
    color: black;
}

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

html, body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; 
    flex: 1;
}

.header {
    padding-left: 100px;
    padding-bottom: 150px;
    padding-top: 10px;
    font-family: 'Inconsolata', monospace;
}

h1 {
    font-size: 20pt;
    padding-top:10pt
}

#subtitle {
    padding-left: 30px;
    font-size: 20px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    justify-self: center;
    flex: 1;
}

img {
    width: 100%;
}

.diary-pic {
    max-width: 10%;
}

.footer {
    flex-shrink: 0;
    margin-top: 20px;
    padding-right: 20px;
    font-family: 'Inconsolata', monospace;
    text-align: right;
}

@media (max-width: 800px) {
    .header {
        padding-bottom: 0px;
    }
    .images {
        flex-direction: column;
        align-items: center;
    }
    .diary-pic {
        max-width: 85%;
        margin: 20px;
    }
}